.list-group-item {
    padding: 0;
    background-color: transparent;
    border: none;
}

.main-card-info-container {
    height: 25em;
    display: flex;
    margin-bottom: 20px;
}

.main-card-info-list {
    margin-left: 20px;
}

.card-img-details {
    height: 25em;
    border-radius: 5px;
}

.main-card-info-font {
    font-size: 18px !important;
}

@media screen and (max-width: 641px) {
    .main-card-info-container {
        height: 15em;
    }

    .card-img-details {
        height: 15em;
        border-radius: 5px;
    }

    .main-card-info-font {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 450px) {
    .main-card-info-container {
        flex-direction: column;
    }

    .card-img-details {
        height: 15em;
        border-radius: 5px;
        margin-left: calc(50% - 76px);
    }

    .main-card-info-font {
        font-size: 12px !important;
    }

    .main-card-info-list {
        margin-left: 0;
        margin-top: 15px;
    }
}